<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/phpunit-bootstrap.php">
    <testsuites>
        <testsuite name="Functional test suite.">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
